{
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "importOrder": [
    "^[./]"
  ],
  "importOrderSeparation": true,
  "printWidth": 80,
  "arrayElementNewline": "always"
}